<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455954015744-dpu84mkn5me1hdmfdnp0avvqerms327l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455954015744-dpu84mkn5me1hdmfdnp0avvqerms327l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>455954015744-6cqekn2u23b1g6qqmvbokg35b9h9qskj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKQ0Yfis7tKVZQ6gwuhdG_-egNWERGRNU</string>
	<key>GCM_SENDER_ID</key>
	<string>455954015744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maeumgagymFlutter</string>
	<key>PROJECT_ID</key>
	<string>maeumgagym-412003</string>
	<key>STORAGE_BUCKET</key>
	<string>maeumgagym-412003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455954015744:ios:84a491f9bba2e6d74f5ae5</string>
</dict>
</plist>